.nav-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(228, 228, 228);
  width: 100%;
  background-color: #ffffff;
}

.user-links-container {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user-links-container li {
  display: inline;
}

.header-container {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.github-logo {
  width: 19%;
  padding-right: 11px;
}

.github-a-tag {
  text-align: -webkit-right;
}