.search-box {
  background: #ffffff;
  border-radius: 4px;
  padding: 32px;
  width: 441px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
  height: 475px;
  margin-left: 75px;
  position: absolute;
  transform: translate(180%, 30%)
}

.search-bar-splash {
  padding: 17px;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline;
  height: 48px;
  width: 460px;
}

@media only screen and (max-width: 800px) {
     .search-box {
       width: 100%;
       position: absolute;
       transform: translate(0%, 80%);
       margin-left: 0;
     }
     .entire-index {
       margin-top: 40px;
     }
}

.search-box-input {
  width: 100%;
  height: 48px;
  display: table;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  margin-top: 8px;
}

.box-input:focus {
  outline: 1px solid rgb(0, 132, 137);
}

.box-input {
  padding: 17px;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline;
  height: 48px;
  width: 100%;
}

.search-box-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #484848;
  font-weight: 800;
  display: block;
}

.search-box-title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: normal;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 12px;
  font-weight: bold;
}

.search-box-dates {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-box-submit {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 13px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #FF5A5F;
  border: 2px solid transparent;
  border-radius: 2px;
}
