.logo-search-container {
  display: flex;
  align-items: center;
}

.search-bar-box {
  width: 461px;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  border: 1px solid rgb(232,232,232);
  margin-left: 30px;
  position: relative;
}

.pac-item {
  min-height: 45px !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  display: flex !important;
  align-items: center !important;
}
.pac-item span {
  font-size: 16px !important;
  color: #484848;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.search-bar {
  padding: 17px;
  padding-left: 35px;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline;
  height: 48px;
  width: 460px;
}

.search-bar::-webkit-input-placeholder {
  font-family: FontAwesome, Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

.fas.fa-search {
  padding-left: 10px;
  position: absolute;
  padding-top: 17px;
}

.dropdown-list {
  position: relative;
  z-index: 10;
}
