#map-container {
  width: 32%;
  height: calc(100vh - 144px);
  float: left;
  margin-left: 20px;
  margin-top: 8px;
  position: sticky !important;
  top: 145px !important;
}

.filtered-index-by-map {
  float: left;
  width: 66%;
  padding-bottom: 65px;
}

.entire-index.map {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
    #map-container {
        width: 50%;
    }
    .filtered-index-by-map {
      width: 45%;
    }
    .entire-index.map {
      padding-left: 20px;
      padding-right: 0px;
    }
    .listing-row-title.map {
      word-wrap: break-word;
    }

}
