.splash-background {
  background: image-url("cabin.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
