.splash-background {
  background: image-url("airbnb_splash.jpg") no-repeat center center;
  // -webkit-background-size: cover;
  // -mox-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100vh;
  width: 100vw;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.css-0 div {
  background-color: #12B998;
}
